html,
body,
#root {
    height: 100%;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 200px auto;
    gap: 20px;
    width: 700px;
    height: 400px;
}

.grid-container > div {
    background-color: #DAA520;
}
